.contact-form-1-icon {
  width: 100%;
  height: 1155px;
  position: absolute;
  margin: 0 !important;
  top: 140px;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.img-20240606-165925-1-icon {
  height: 116px;
  width: 199px;
  position: relative;
  object-fit: cover;
}
.home {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 67px;
  cursor: pointer;
}
.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.about,
.contact,
.team {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 67px;
}
.contact,
.team {
  min-width: 61px;
}
.contact {
  min-width: 87px;
}
.frame-parent {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.main-content,
.right-content {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.right-content {
  margin: 0;
  width: 442px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0 0;
}
.main-content {
  width: 1314px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
}
.apply-now,
.get-ready-for {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.apply-now {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
}
.get-ready-for {
  font-size: var(--font-size-5xl);
  line-height: 150%;
}
.apply-now-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.apply-now-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 7px 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
}
.first-name,
.label {
  position: relative;
  line-height: 150%;
}
.first-name {
  align-self: stretch;
}
.label {
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-inria-serif);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 30px;
  flex: 1;
  font-weight: 700;
  color: var(--color-gray);
  text-align: left;
  min-width: 158px;
  padding: 0;
}
.field,
.input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field {
  align-self: stretch;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-4xs);
}
.input {
  width: 295px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.label1,
.last-name {
  position: relative;
  line-height: 150%;
}
.last-name {
  align-self: stretch;
}
.label1 {
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-inria-serif);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 30px;
  flex: 1;
  font-weight: 700;
  color: var(--color-gray);
  text-align: left;
  min-width: 159px;
  padding: 0;
}
.field1,
.input1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field1 {
  align-self: stretch;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-4xs);
}
.input1 {
  width: 297px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.email-address,
.label2 {
  position: relative;
  line-height: 150%;
}
.email-address {
  align-self: stretch;
}
.label2 {
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-inria-serif);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 30px;
  flex: 1;
  font-weight: 700;
  color: var(--color-gray);
  text-align: left;
  min-width: 250px;
  white-space: nowrap;
  max-width: 100%;
  padding: 0;
}
.field2 {
  align-self: stretch;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-4xs);
}
.field2,
.form,
.form-wrapper,
.input2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input2 {
  width: 626px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.form,
.form-wrapper {
  flex-direction: row;
  box-sizing: border-box;
}
.form {
  width: 631px;
  flex-wrap: wrap;
  padding: 0 var(--padding-8xs) 0 0;
  gap: 24px 32px;
  min-height: 155px;
  z-index: 1;
}
.form-wrapper {
  padding: 0 0 var(--padding-sm) var(--padding-11xs);
}
.contact-number,
.label3 {
  position: relative;
  line-height: 150%;
}
.contact-number {
  align-self: stretch;
  z-index: 1;
}
.label3 {
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-inria-serif);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 30px;
  flex: 1;
  font-weight: 700;
  color: var(--color-gray);
  text-align: left;
  min-width: 250px;
  white-space: nowrap;
  max-width: 100%;
  padding: 0;
}
.field3 {
  align-self: stretch;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-4xs);
  z-index: 1;
}
.contact-and-travel-inner,
.contact-number-parent,
.field3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-number-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.contact-and-travel-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.label4,
.which-country-you {
  position: relative;
  line-height: 150%;
}
.which-country-you {
  align-self: stretch;
  z-index: 1;
}
.label4 {
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-inria-serif);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 30px;
  flex: 1;
  font-weight: 700;
  color: var(--color-gray);
  text-align: left;
  min-width: 250px;
  max-width: 100%;
  padding: 0;
}
.field4,
.travel-destination {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.field4 {
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-4xs);
  z-index: 1;
}
.travel-destination {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.visa-type {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.chevron-down-icon,
.label5 {
  position: relative;
  overflow: hidden;
}
.label5 {
  flex: 1;
  line-height: 24px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 40px);
}
.chevron-down-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}
.dropdown,
.visa {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.dropdown {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-mini);
  gap: var(--gap-base);
  z-index: 1;
  color: var(--color-gray);
  font-family: var(--small-text);
}
.visa {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-5xs);
}
.your-message {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.field5,
.message,
.travel-and-visa,
.your-message-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field5 {
  border: 1px solid var(--color-gainsboro-200);
  background-color: var(--color-white);
  height: 156px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  font-family: var(--font-inria-serif);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  z-index: 1;
}
.message,
.travel-and-visa,
.your-message-parent {
  max-width: 100%;
}
.your-message-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.message,
.travel-and-visa {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.travel-and-visa {
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xs);
}
.submit {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  display: inline-block;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: left;
  min-width: 81px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-lightblue);
  align-self: stretch;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}
.button:hover {
  background-color: var(--color-skyblue);
}
.contact-and-travel,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-and-travel {
  align-self: stretch;
  gap: var(--gap-mid);
}
.frame-group {
  flex: 1;
  gap: 58px;
}
.body,
.divider {
  box-sizing: border-box;
  max-width: 100%;
}
.body {
  width: 747px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 57px 72px;
  flex-shrink: 0;
}
.divider {
  width: 1281px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gainsboro-100);
}
.settling-abroad {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.settling-abroad-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid);
}
.whatsapp-logowine-1-icon,
.whatsapp-logowine-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 87px;
  height: 60px;
  object-fit: cover;
}
.whatsapp-logowine-2-icon {
  top: 48px;
  z-index: 1;
}
.whats-app-logos {
  height: 108px;
  width: 87px;
  position: relative;
  min-width: 87px;
}
.download-icon {
  flex: 1;
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.b,
.number {
  align-self: stretch;
}
.number {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.b {
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.contact-details,
.phone-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.phone-number {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.contact-details {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
  min-width: 132px;
}
.whats-app {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.download-3-icon {
  width: 38px;
  height: 32px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.download-icon1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.settlingabroad- {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 130px;
}
.app-download,
.download-app {
  display: flex;
  flex-direction: row;
}
.app-download {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.download-app {
  width: 275px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.contact-info,
.whatsapp-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-info {
  align-self: stretch;
  align-items: flex-end;
  font-size: var(--font-size-xl);
}
.whatsapp-info {
  width: 297px;
  align-items: flex-start;
  gap: 14px;
  min-width: 297px;
}
.topic {
  color: var(--color-black);
}
.page,
.page1,
.page2,
.topic {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.topic-page-list1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 140px;
}
.topic1 {
  color: var(--color-black);
}
.page3,
.page4,
.page5,
.topic1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.topic-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 140px;
}
.topic2 {
  color: var(--color-black);
}
.page6,
.page7,
.page8,
.topic2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.topic-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 140px;
}
.topic-group,
.topic-page-list,
.topic-pages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.topic-page-list {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-10xl-5);
}
.topic-pages {
  width: 620px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 620px;
  max-width: 100%;
  font-size: var(--small-text-size);
  color: var(--color-darkslategray);
  font-family: var(--small-text);
}
.footer-content,
.whatsapp-info-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.whatsapp-info-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-content {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.contact-form,
.footer {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-inria-serif);
}
.footer {
  margin-left: -59px;
  width: 1428px;
  border-radius: var(--br-3xs);
  align-items: flex-end;
  padding: var(--padding-12xs) var(--padding-49xl) var(--padding-20xl)
    var(--padding-44xl);
  gap: var(--gap-25xl);
  max-width: 105%;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.contact-form {
  width: 100%;
  height: 1575px;
  position: relative;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-5xs) 405px var(--padding-2xl);
  gap: 53px;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
@media screen and (max-width: 1200px) {
  .footer {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .apply-now {
    font-size: var(--font-size-7xl);
  }
  .body {
    padding-bottom: 47px;
    box-sizing: border-box;
  }
  .settling-abroad {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .whatsapp-info {
    flex: 1;
  }
  .topic-pages {
    flex: 1;
    min-width: 100%;
  }
  .whatsapp-info-parent {
    flex-wrap: wrap;
  }
  .contact-form {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .right-content {
    display: none;
  }
  .main-content {
    width: 872px;
  }
  .form {
    gap: var(--spacing-sm);
  }
  .frame-group {
    gap: var(--gap-10xl);
  }
  .body {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .topic-page-list {
    flex-wrap: wrap;
  }
  .footer {
    gap: var(--gap-3xl);
  }
  .contact-form {
    gap: 26px;
  }
}
@media screen and (max-width: 450px) {
  .apply-now,
  .get-ready-for {
    font-size: var(--font-size-lgi);
  }
  .get-ready-for {
    line-height: 29px;
  }
  .contact-number,
  .email-address,
  .first-name,
  .label,
  .label1,
  .label2,
  .label3,
  .label4,
  .label5,
  .last-name,
  .visa-type,
  .which-country-you,
  .your-message {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .label5,
  .your-message {
    line-height: 19px;
  }
  .your-message {
    line-height: 24px;
  }
  .settling-abroad,
  .submit {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .whats-app-logos {
    flex: 1;
  }
  .b,
  .download-icon {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .whats-app {
    flex-wrap: wrap;
  }
  .settlingabroad- {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .app-download {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
}
