.img-20240606-165925-1-icon1 {
  height: 116px;
  width: 157px;
  position: relative;
  object-fit: cover;
}
.about1,
.home1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 67px;
}
.home-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
}
.team1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 61px;
}
.home-contact1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
}
.contact1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 87px;
}
.u-s-content,
.u-s-content-wrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.u-s-content {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.u-s-content-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.apply-now1 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  display: inline-block;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: left;
  text-shadow: 1px 0 0#a7eaff, 0 1px 0#a7eaff, -1px 0 0#a7eaff, 0-1px 0#a7eaff;
  min-width: 117px;
  cursor: pointer;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-5xl);
  background-color: var(--color-lightblue);
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button1:hover,
.primary-button:hover {
  background-color: var(--color-skyblue);
}
.service-names,
.u-k-universities {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.u-k-universities {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 48px;
}
.service-names {
  width: 627px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.img-20240606-165925-1-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.landing-page-01-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-53xl) var(--padding-xl) 75px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child,
.settling {
  position: relative;
  max-width: 100%;
}
.frame-child {
  height: 724px;
  width: 1398px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.settling {
  flex: 1;
  line-height: 150%;
  display: inline-block;
  z-index: 1;
}
.service-descriptions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.abroad {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  color: #00aae0;
  z-index: 1;
}
.about-content,
.about-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-content {
  flex: 1;
  flex-direction: column;
  gap: 10px;
}
.about-content-wrapper {
  width: 341px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.acino-your-study {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 700;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.acino-your-study-abroad-experi-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 6px;
  box-sizing: border-box;
  max-width: 100%;
}
.apply-now2 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  display: inline-block;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 117px;
}
.primary-button,
.u-k-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-button {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-lgi) var(--padding-17xl);
  background-color: var(--color-lightblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.primary-button:hover {
  border: 1px solid #333;
  box-sizing: border-box;
}
.u-k-content {
  align-self: stretch;
  flex-direction: column;
  gap: 46px;
  max-width: 100%;
  font-size: var(--font-size-13xl);
}
.frame-item {
  width: 11px;
  height: 7px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 37px;
  border-radius: 50%;
  background-color: #d9d9d9;
  z-index: 1;
}
.frame-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 139px 0 0;
  box-sizing: border-box;
  position: relative;
  gap: 73px;
  min-width: 431px;
  max-width: 100%;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #c4f1ff;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.borcelle-school-1 {
  position: absolute;
  top: 17px;
  left: 16px;
  border-radius: 360px;
  width: 547px;
  height: 547px;
  object-fit: cover;
  z-index: 3;
}
.ellipse-parent {
  height: 580px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.frame-div,
.frame-wrapper1,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper1 {
  align-self: stretch;
  flex-direction: row;
}
.frame-div,
.rectangle-parent {
  box-sizing: border-box;
}
.frame-div {
  width: 580px;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  min-width: 580px;
}
.rectangle-parent {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-20xl) var(--padding-18xl) 94px 93px;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.our-services,
.services {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.our-services {
  width: 1126px;
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  align-items: center;
  flex-shrink: 0;
}
.services {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 42px var(--padding-3xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.rectangle-div {
  align-self: stretch;
  height: 700px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.study-visa,
.v5orbx4n-1-icon {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.v5orbx4n-1-icon {
  align-self: stretch;
  height: 262px;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.study-visa {
  flex: 1;
  line-height: 49px;
  display: inline-block;
  font-weight: 700;
}
.study-visa-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-6xl);
  box-sizing: border-box;
  max-width: 100%;
}
.we-assists-students {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  z-index: 1;
}
.rectangle-group,
.we-assists-students-in-navigat-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.we-assists-students-in-navigat-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xl) 0 var(--padding-lgi);
  text-align: left;
  font-size: var(--font-size-xl);
}
.rectangle-group {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-10xs) 0 140px;
  gap: var(--gap-lg);
}
.frame-child1,
.oxzk0i-1-icon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
}
.frame-child1 {
  height: 700px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: none;
}
.oxzk0i-1-icon {
  height: 267px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.tourist-visa,
.we-facilitates-travelers {
  position: relative;
  font-weight: 700;
  z-index: 1;
}
.tourist-visa {
  align-self: stretch;
  line-height: 49px;
}
.we-facilitates-travelers {
  flex: 1;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.u-k-universities-second-row-th {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.assessment-titles,
.assessment-types,
.u-k-universities-second-row-th {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.assessment-types {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.assessment-titles {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child2,
.rectangle-container {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.rectangle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 var(--padding-91xl);
  box-sizing: border-box;
  gap: 13px;
  max-width: 100%;
}
.frame-child2 {
  align-self: stretch;
  height: 700px;
  position: relative;
  display: none;
}
.images-1-icon,
.work-visa {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.images-1-icon {
  align-self: stretch;
  height: 262px;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.work-visa {
  flex: 1;
  line-height: 49px;
  display: inline-block;
  font-weight: 700;
}
.u-k-universities-third-row-sec {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
}
.we-specializes-in {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  z-index: 1;
}
.u-k-universities-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.rectangle-parent1,
.u-k-universities-logos,
.u-k-universities-title {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-10xs) 0 var(--padding-151xl) var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
.u-k-universities-logos {
  flex: 1;
  display: grid;
  flex-direction: row;
  gap: var(--gap-10xl);
  grid-template-columns: repeat(3, minmax(323px, 1fr));
}
.u-k-universities-logos-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 23px var(--padding-55xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.career-counseling-56a0f2ae5f9b-icon {
  height: 262px;
  width: 431px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: -3px;
  border-radius: var(--br-3xs);
  object-fit: cover;
  z-index: 1;
}
.frame-child3 {
  width: 431px;
  height: 700px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.carrer-consultant {
  align-self: stretch;
  position: relative;
  line-height: 49px;
  font-weight: 700;
  z-index: 1;
}
.we-offers-personalized {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  font-weight: 700;
  white-space: pre-wrap;
  max-width: 100%;
  z-index: 1;
}
.u-k-universities-second-row {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.career-counseling-56a0f2ae5f9b-parent,
.rectangle-parent2,
.u-k-universities-second-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent2 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  padding: 277px var(--padding-mid) var(--padding-91xl) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.career-counseling-56a0f2ae5f9b-parent {
  flex-direction: row;
  position: relative;
}
.frame-child4 {
  align-self: stretch;
  height: 700px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.download-1-icon,
.interview-preparaton {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.download-1-icon {
  height: 262px;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.interview-preparaton {
  line-height: 100%;
  font-weight: 700;
}
.we-equips-individuals {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  z-index: 1;
}
.u-k-universities-third-row {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-mid);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.rectangle-parent3,
.u-k-universities-third-row,
.u-k-universities-wrapper,
.u-k-universities1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.u-k-universities1 {
  flex: 1;
  flex-direction: column;
  gap: 41px;
}
.rectangle-parent3,
.u-k-universities-wrapper {
  box-sizing: border-box;
}
.u-k-universities-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mid) 0 var(--padding-2xs);
}
.rectangle-parent3 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  padding: 0 0 var(--padding-91xl);
  gap: var(--gap-mini);
}
.download-2-icon,
.frame-child5 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
}
.frame-child5 {
  height: 700px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: none;
}
.download-2-icon {
  height: 262px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.scholarship,
.we-connects-students {
  position: relative;
  font-weight: 700;
  z-index: 1;
}
.scholarship {
  align-self: stretch;
  line-height: 49px;
}
.we-connects-students {
  flex: 1;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.u-s-a-universities-inner,
.u-s-a-universities-logos-first {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.u-s-a-universities-logos-first {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.u-s-a-universities-inner {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.u-k-third-logo-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-lg) 0 var(--padding-mid);
  box-sizing: border-box;
}
.rectangle-parent4,
.u-k-third-logo-container,
.u-k-universities-second-row-in {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent4 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-151xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-height: 700px;
}
.u-k-universities-second-row-in {
  flex: 1;
  display: grid;
  flex-direction: row;
  gap: 30.5px;
  grid-template-columns: repeat(3, minmax(323px, 1fr));
}
.u-k-universities-second-row-in-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-55xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.services-child {
  align-self: stretch;
  height: 700px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.aid-in-assessment,
.kdlmzqwl-1-icon {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.kdlmzqwl-1-icon {
  height: 262px;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.aid-in-assessment {
  line-height: 49px;
  font-weight: 700;
}
.we-supports-individuals {
  width: 386px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 150%;
  display: inline-block;
  font-weight: 700;
  text-align: left;
  max-width: 100%;
  z-index: 1;
}
.u-s-a-universities-logos-secon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.u-s-a-universities-logos-secon-wrapper {
  width: 418px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
}
.services1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 104px;
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
}
.images-1-1,
.services-item {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
}
.services-item {
  height: 700px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: none;
}
.images-1-1 {
  height: 262px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.assisting-with-accomodation,
.we-aids-clients {
  position: relative;
  font-weight: 700;
  max-width: 100%;
  z-index: 1;
}
.assisting-with-accomodation {
  width: 396px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.we-aids-clients {
  flex: 1;
  line-height: 150%;
  display: inline-block;
}
.u-s-a-universities-logos-secon1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.assisting-with-accomodation-parent,
.u-k-grid,
.u-s-a-universities-logos-secon1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.assisting-with-accomodation-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
}
.u-k-grid {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 var(--padding-xs);
  box-sizing: border-box;
}
.services-inner,
.services2 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.services2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-55xl);
  box-sizing: border-box;
  gap: 21px;
  max-width: 100%;
}
.services-inner {
  align-self: stretch;
  height: 700px;
  position: relative;
  display: none;
}
.institution-selection,
.ioefmum4-1-icon {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.ioefmum4-1-icon {
  height: 262px;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.institution-selection {
  line-height: 49px;
  font-weight: 700;
}
.we-assists-students1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  z-index: 1;
}
.services-content,
.u-s-a-universities-logos-secon2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.u-s-a-universities-logos-secon2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-sm);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.services-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.description-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-lgi) 0 var(--padding-xs);
  box-sizing: border-box;
}
.description-container,
.services3,
.u-k-universities-third-row-inn {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.services3 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-55xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.u-k-universities-third-row-inn {
  flex: 1;
  display: grid;
  flex-direction: row;
  gap: var(--gap-13xl);
  grid-template-columns: repeat(3, minmax(323px, 1fr));
}
.u-k-universities-third-row-inn-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 142px var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.top-uk-universities {
  width: 771px;
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.u-s-a-universities-logos-first1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.e-1-1-icon,
.e-2-1-icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.e-1-1-icon {
  width: 351px;
  min-height: 163px;
}
.e-2-1-icon {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
}
.e-2-1-wrapper {
  height: 163px;
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.e-7-1-icon {
  width: 351px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 163px;
  max-width: 100%;
}
.u-s-a-universities-logos-first2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.u-s-a-universities-logos-first-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: 40px;
  max-width: 100%;
}
.e-9-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.e-9-1-wrapper {
  height: 146px;
  width: 299px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 26px 0 0;
  box-sizing: border-box;
}
.e-4-1-icon,
.e-8-1-icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.e-8-1-icon {
  width: 328px;
}
.e-4-1-icon {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
}
.e-4-1-wrapper,
.u-s-a-universities-logos-secon3 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.e-4-1-wrapper {
  height: 166px;
  width: 349px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.u-s-a-universities-logos-secon3 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.u-s-a-universities-logos-secon-container {
  width: 1188px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.uk00-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.third-and-fourth-logos {
  height: 145px;
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
}
.e-5-1-icon,
.e-6-1-icon {
  align-self: stretch;
  width: 351px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 164px;
  max-width: 100%;
}
.first-logo-row,
.u-s-a-universities-logos-secon4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.u-s-a-universities-logos-secon4 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.first-logo-row {
  width: 1209px;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.frame-parent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 76px;
  max-width: 100%;
}
.landing-page-01-child {
  width: 1368px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-49xl) 152px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.top-usa-universities {
  width: 771px;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.top-usa-universities-wrapper {
  width: 1177px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.images-2-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.about-title {
  height: 149px;
  width: 333px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.fx45dti-1-icon {
  align-self: stretch;
  height: 128px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.fx45dti-1-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 240px;
  max-width: 100%;
}
.universityofpennsylvania-fulll-icon {
  height: 130px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  min-width: 240px;
}
.about-title-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-48xl);
}
.about-title-parent,
.frame-parent2,
.frame-section {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 87px;
}
.frame-section {
  width: 1362px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 80px 103px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.xzxbytb5-1-icon {
  width: 1414px;
  height: 688px;
  position: absolute;
  margin: 0 !important;
  right: -16px;
  bottom: 290px;
  border-radius: var(--br-3xs);
  object-fit: cover;
  z-index: 3;
}
.images-1-2,
.images-2-1 {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.images-2-1 {
  width: 380px;
}
.images-1-2 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
}
.double-image {
  height: 142px;
  width: 362px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.images-3-icon {
  width: 361px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 142px;
  max-width: 100%;
}
.image-row,
.image-row-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.image-row {
  justify-content: flex-start;
  gap: var(--gap-48xl);
}
.image-row-wrapper {
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.ut07ziym-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.single-logo {
  height: 193px;
  width: 314px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.rustm4m-1-icon {
  align-self: stretch;
  height: 117px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-pair {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 33px;
  box-sizing: border-box;
  min-width: 244px;
  max-width: 100%;
}
.university-of-notre-dame-vecto-icon {
  align-self: stretch;
  height: 147px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-pair1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  min-width: 240px;
  max-width: 100%;
}
.frame-parent3,
.university-logos {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.university-logos {
  width: 1204px;
  flex-direction: row;
  gap: 72px;
}
.frame-parent3 {
  flex-direction: column;
  gap: 91px;
}
.landing-page-01-inner1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 210px 30px;
  box-sizing: border-box;
  max-width: 100%;
}
.who-we-are {
  width: 399px;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 4;
}
.who-we-are-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.we-are-settling {
  width: 510px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 150%;
  display: flex;
  color: var(--color-black);
  align-items: center;
  max-width: 100%;
  z-index: 4;
}
.about-us,
.frame-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  width: 1257px;
  flex-direction: column;
  gap: 25px;
}
.about-us {
  align-self: stretch;
  flex-direction: row;
  padding: 0 58px 248px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inria-serif);
}
.landing-page-01-item {
  width: 1929.5px;
  height: 169px;
  position: absolute;
  margin: 0 !important;
  top: 715px;
  right: -370.5px;
  border-radius: 600px;
  z-index: 1;
}
.divider-wrapper,
.divider1 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.divider1 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gainsboro-100);
}
.divider-wrapper {
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mid);
}
.settling-abroad1,
.topic3,
.topic4,
.topic5 {
  position: relative;
  line-height: 150%;
}
.topic3,
.topic4,
.topic5 {
  flex: 1;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
}
.topic-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl-5);
}
.footer-columns,
.footer-links {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer-links {
  width: 620px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-size: var(--small-text-size);
  font-family: var(--small-text);
}
.footer-columns {
  width: 1238px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.whatsapp-logowine-1-icon1,
.whatsapp-logowine-2-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 87px;
  height: 60px;
  object-fit: cover;
}
.whatsapp-logowine-2-icon1 {
  top: 48px;
  z-index: 1;
}
.whatsapp-icons {
  height: 108px;
  width: 87px;
  position: relative;
}
.phone-number-prefix {
  flex: 1;
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.number-pair {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.phone-number1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.phone-numbers,
.phone-numbers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.phone-numbers {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.phone-numbers-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi);
}
.social-media {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.download-3-icon1 {
  width: 38px;
  height: 32px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.settlingabroad-1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.button-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.download-button {
  width: 275px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.contact-details1,
.contact-info1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-details1 {
  align-self: stretch;
  align-items: flex-end;
}
.contact-info1 {
  width: 297px;
  align-items: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  min-width: 297px;
}
.home2,
.page10,
.page9 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.page-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 140px;
}
.page11,
.page12,
.page13 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.page-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 140px;
}
.page14,
.page15,
.page16 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.email-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 140px;
}
.contact2,
.page-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.page-navigation {
  width: 620px;
  justify-content: flex-start;
  gap: var(--gap-10xl-5);
  min-width: 620px;
  font-size: var(--small-text-size);
  color: var(--color-darkslategray);
  font-family: var(--small-text);
}
.contact2 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.footer-content1,
.footer1,
.landing-page-01 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-content1 {
  width: 1255px;
  align-items: flex-end;
  gap: 2px;
  max-width: 100%;
}
.footer1,
.landing-page-01 {
  background-color: var(--color-white);
  overflow: hidden;
  box-sizing: border-box;
}
.footer1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  align-items: flex-start;
  padding: var(--padding-12xs) 38px var(--padding-20xl) var(--padding-44xl);
  gap: var(--gap-25xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
.landing-page-01 {
  width: 100%;
  position: relative;
  align-items: flex-end;
  padding: var(--padding-xs) 0 0;
  gap: var(--gap-xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .about-content,
  .frame-div {
    flex: 1;
  }
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .u-s-a-universities-logos-first2,
  .u-s-a-universities-logos-secon3 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .u-s-a-universities-logos-secon4 {
    flex-wrap: wrap;
  }
  .frame-section,
  .landing-page-01-child {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .frame-section {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
  }
  .image-row {
    flex-wrap: wrap;
  }
  .about-us {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .u-s-content-wrapper {
    display: none;
  }
  .u-k-universities-logos,
  .u-k-universities-second-row-in,
  .u-k-universities-third-row-inn {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(323px, 560px));
  }
  .u-k-universities-third-row-inn-wrapper {
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  .landing-page-01-child {
    padding-bottom: 99px;
    box-sizing: border-box;
  }
  .fx45dti-1-wrapper,
  .universityofpennsylvania-fulll-icon {
    flex: 1;
  }
  .about-title-parent {
    flex-wrap: wrap;
  }
  .logo-pair,
  .logo-pair1 {
    flex: 1;
  }
  .footer-columns,
  .university-logos {
    flex-wrap: wrap;
  }
  .contact-info1,
  .page-navigation {
    flex: 1;
  }
  .contact2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .u-k-universities {
    gap: var(--gap-5xl);
  }
  .landing-page-01-inner {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .abroad,
  .settling {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .acino-your-study {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .u-k-content {
    gap: var(--gap-4xl);
  }
  .frame-container {
    gap: var(--gap-17xl);
    padding-top: 90px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .frame-div {
    min-width: 100%;
  }
  .rectangle-parent {
    padding-left: 46px;
    padding-top: var(--padding-6xl);
    padding-bottom: 61px;
    box-sizing: border-box;
  }
  .our-services,
  .study-visa {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .rectangle-group {
    padding-top: var(--padding-xl);
    padding-bottom: 91px;
    box-sizing: border-box;
  }
  .tourist-visa {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .rectangle-container {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
  }
  .work-visa {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .rectangle-parent1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-91xl);
    box-sizing: border-box;
  }
  .u-k-universities-logos {
    grid-template-columns: minmax(323px, 1fr);
  }
  .u-k-universities-logos-wrapper {
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
  .carrer-consultant {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .rectangle-parent2 {
    padding-top: 180px;
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
  }
  .interview-preparaton {
    font-size: var(--font-size-7xl);
    line-height: 26px;
  }
  .rectangle-parent3 {
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
  }
  .scholarship {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .rectangle-parent4 {
    padding-bottom: var(--padding-91xl);
    box-sizing: border-box;
  }
  .u-k-universities-second-row-in {
    gap: var(--gap-mini);
    grid-template-columns: minmax(323px, 1fr);
  }
  .u-k-universities-second-row-in-wrapper {
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
  .aid-in-assessment {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .services1 {
    padding-bottom: var(--padding-49xl);
    box-sizing: border-box;
  }
  .assisting-with-accomodation {
    font-size: var(--font-size-7xl);
    line-height: 26px;
  }
  .services2 {
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
  .institution-selection {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .services3 {
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
  .u-k-universities-third-row-inn {
    gap: var(--gap-base);
    grid-template-columns: minmax(323px, 1fr);
  }
  .top-uk-universities {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .u-s-a-universities-logos-first-parent {
    gap: var(--gap-xl);
  }
  .frame-parent1 {
    gap: 38px;
  }
  .top-usa-universities {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .about-title-parent {
    gap: var(--gap-14xl);
  }
  .frame-parent2 {
    gap: 43px;
  }
  .image-row {
    gap: var(--gap-14xl);
  }
  .university-logos {
    gap: var(--gap-17xl);
  }
  .frame-parent3 {
    gap: 45px;
  }
  .landing-page-01-inner1 {
    padding-bottom: 136px;
    box-sizing: border-box;
  }
  .who-we-are {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .about-us {
    padding-bottom: 161px;
    box-sizing: border-box;
  }
  .settling-abroad1 {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .topic-list {
    flex-wrap: wrap;
  }
  .page-navigation {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .footer1 {
    gap: var(--gap-3xl);
    padding-left: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .abroad,
  .settling {
    font-size: var(--font-size-3xl);
    line-height: 32px;
  }
  .acino-your-study {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .frame-container {
    gap: var(--gap-lg);
  }
  .rectangle-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .our-services,
  .study-visa {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .we-assists-students {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .tourist-visa {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .we-facilitates-travelers {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .work-visa {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .we-specializes-in {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .u-k-universities-logos-wrapper {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .carrer-consultant {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .we-offers-personalized {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .interview-preparaton {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .we-equips-individuals {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .u-k-universities1 {
    gap: var(--gap-xl);
  }
  .scholarship {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .we-connects-students {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .u-k-universities-second-row-in-wrapper {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .aid-in-assessment {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .we-supports-individuals {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .assisting-with-accomodation {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .we-aids-clients {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .institution-selection {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .we-assists-students1 {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .u-k-universities-third-row-inn-wrapper {
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  .top-uk-universities {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .frame-parent1 {
    gap: 19px;
  }
  .landing-page-01-child {
    padding-bottom: 64px;
    box-sizing: border-box;
  }
  .top-usa-universities {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .about-title-parent {
    gap: var(--gap-mid);
  }
  .frame-parent2 {
    gap: var(--gap-3xl);
  }
  .frame-section {
    padding-bottom: 67px;
    box-sizing: border-box;
  }
  .image-row {
    gap: var(--gap-mid);
  }
  .university-logos {
    gap: var(--gap-lg);
  }
  .frame-parent3 {
    gap: var(--gap-4xl);
  }
  .who-we-are {
    font-size: var(--font-size-3xl);
    line-height: 32px;
  }
  .we-are-settling {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .settling-abroad1 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .phone-number-prefix,
  .phone-number1,
  .settlingabroad-1 {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .button-container {
    gap: var(--gap-base);
  }
}
